<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>CarBridgeRebornPrefs</string>
    <key>CFBundleIdentifier</key>
    <string>com.carbridgereborn.prefs</string>
    <key>CFBundleName</key>
    <string>CarBridgeRebornPrefs</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.11.0</string>
    <key>CFBundleVersion</key>
    <string>3.11.0</string>
    <key>MinimumOSVersion</key>
    <string>13.0</string>
    <key>NSPrincipalClass</key>
    <string>CBRPrefsController</string>
</dict>
</plist>
